@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}
.logo-link {
  border-bottom: none !important;
  display: inline-block;
  width: fit-content;
}

.logo-link {
  border-bottom: none !important;
  display: inline-block;
  width: fit-content;
  overflow: hidden; /* ÖNEMLİ! Hover genişlemesini engeller */
}

.logo-link:hover {
  border-bottom: none !important;
  /* kesinlikle BURAYA scale koyma! */
}

.logo-link:hover img {
  transform: scale(1.08);
  transition: transform 0.2s ease;

  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}




.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
.bg-gift-pattern {
  background-image: url('/assets/images/form arka plan.png'), url('/assets/images/form arka plan.png');
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: auto 70%;
}


